h1,h3{
    color: white;
}
p{
    text-align: justify;
}
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*
    width: 100%;
    margin: 0;
    */
}
h4{
    font-size: x-large;
}
.logo{
    float:left; width: 64px;height: 48px;
}

.profile{
    border-left: 6px solid #00ff00;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    margin: 0 5%;
    padding: 20px 10px;
    background-color: #fcfafae5;
    padding-left: 10px;
    border-radius: 3px;
}
.desc{
    display: block;
    width: 75%;
}
.ah{
    display: flex;
    align-items: center;
}
.openup{
    margin-left: 5px;
    color: #3B413C;
}
header{  
    background-color: #FCFAFA;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 30px;
	align-items: center;
    border-radius: 4px;
    /*
    position: fixed;
    width: 96%;
    */
}
header ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
li{
    display: flex;
}
li a{
    padding: 10px 14px;
    background-color: #3B413C;
    text-decoration: none;
    border-radius: 4px;
	margin-left: 30px;
    color: #ffffffff;
}
footer{
    width: 100%;
    height: 120px;
    background-color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
}




@media only screen and (max-width: 450px) {
	.text {font-size: 11px}

li{
    display: flex;
    margin-bottom: 5px;
}
.openup{
    font-size: small;
    text-align: center;
    margin: 0;
    float: left;
}
nav{
    display: none;
}
header{
    display: flex;
    padding: 5px 2px;
    margin: 0;
}
.logo{
    float:left;
    width: 32px;height: 24px;
}


}




/* Style pour le début */

h1{

    position: relative;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: transparent;
}
h1::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    animation: animate 6s steps(30) 1;
    
}

@keyframes animate{
    0%
    {
        width: 0;
    }
    60%{
        width: 0;
        
    }
    100%{
        width: 39%;
    }

}